<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div id="navbar">
        <ul>
            <li><a class="renew" ><i class="fa-solid fa-user-gear"></i>Admin</a></li>
            <li><a class="same"  [routerLink]="['/adduser']">Add User</a></li>
            <li><a class="same"  [routerLink]="['/viewemployee']">View User</a></li>
            <li><a class="same" [routerLink]="['/viewemployeedetails']">User Details</a></li>
            <li><a class="same" id="feedback" [routerLink]="['/viewfeedback']"> Feedback</a></li>
            <li><a routerLink="/adminlogin"  class="btn by "><i class="fa-solid fa-user-minus"></i>Logout</a>
            </li>
        </ul>
    </div>

    <div id="container1">
        <div  class="contact">
            <thead>  <h2> Employee List</h2>   </thead>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th> Email Id</th>
                        <th> Name </th>
                        <th> Feedback </th>
                        <th > Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let employee of feedback" >
                        <td> {{ employee.email }} </td>
                        <td> {{ employee.name }} </td>
                        <td> {{ employee.suggestion }} </td>
                        <td>
                            <button (click) = "deleteFeedback(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                        
                        </td>
                    </tr>
                </tbody>
    
            </table>
            <!-- <button class="btn btn-primary" style="width:90px" [routerLink]="['/uhome']">Back</button> -->
        </div>

    </div>
    

    
</body>

</html>
