 <div id="container1"> 

    <!-- <div class="d-flex justify-content-center" *ngIf="status===false">
        <div class="alert alert-dismissible fade show" role="alert" style="position: absolute; width:500px; top:20px;background-color: red; color:white;opacity: 0.8;"> 
          Incorrect Credentials
          <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close" style="margin-top: -4px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1><i class="fa-solid fa-user-plus"></i> Login</h1>
                        <h6>Please Enter Email Id And Password</h6>
                    </div>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div formGroupName="userData" >
                            <div class="mb-3">
                              <label for="exampleInputEmail1">Email address</label>
                              <input #email type="email" class="form-control"  aria-describedby="emailHelp" name="email" id="email" placeholder="Enter the Email Address" >
                              <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
                                Please enter valid email address
                            </span>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1">Password</label>
                              <input #password type="password" class="form-control" id="password" name="password" placeholder="Enter the Password">
                              <span *ngIf="!signupForm.get('userData.password').valid && signupForm.get('userData.password').touched">
                                Password should contain 8-15 characters
                            </span>
                            </div>
                            
                            <br>
                            <span><button #submit type="submit" class="btn btn-primary " routerLink="/uhome" id="one" >Login</button></span>
                            <a class="btn btn-primary " id="two" routerLink="/intro">Cancel</a>
                        </div>
                          <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


